<header>
  <div class="container-fluid">
    <div class="row header-top">
      <div class="col-md-2"><a href="https://www.advancepublishing-stg.com/sommer_learning/publicsite/sommerlearning" target="_blank"><img src="../../assets/images/sommer-learning-logo.png"/></a></div>
      <div class="col-md-3 offset-md-3"><input type="search" class="form-control" id="search" placeholder="Search"><a class="search-icon"><i></i></a></div>
      <div class="col-md-4">
        <div class="float-right btn-group  mt-2" role="group" aria-label="Basic example">
          <button type="button" class="btn">Login</button>
          <button type="button" class="btn">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">SOMMER-TIME STORIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PHONICS ADVENTURE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">READING SUCCESS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NUMBER SUCCESS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WRITING SUCCESS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">EBOOKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">VIDEOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WORKSHEETS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SONGS</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
