/* Logo and search bar section */
.header-top {
  padding: 15px;
}
.site-header {
  width: 100%;
  padding: 7px 0;
  background-color: #2a254c;
  text-align: center;
}
.site-header a {
  color: #fff;
  margin: 0 10px;
  padding: 0 15px;
  border-radius: 5px;
}
.site-header a:hover,
.site-header a:active {
  background-color: #ffe3c1;
  color: #333;
  text-decoration: none;
}

