/* Logo and search bar section */
.header-top {
  padding: 15px;
  .form-control {
    margin-top: 6px;
    padding-right: 38px;
    background-color: #f4f4f4;
    border: 2px solid #d1d1d1;
  }
  .search-icon {
    position: absolute;
    top: 7px;
    right: 17px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: url(../../assets/images/search.png) center center no-repeat;
  }
  .user-collections {
    text-align: center;
    padding-left: 50px;
    li {
      float: left;
      padding:0 12px;
      i {
        width: 38px;
        height: 38px;
        font-size: 24px;
        border: 3px solid #000;
        padding: 3px;
        border-radius: 8px;
        margin-bottom: 3px;
        color: #000;
      }
      span {
        display: block;
        font-size: 14px;
        color: #000;
      }
    }
  }
  .btn-group {
    .btn {
      width: 100px;
      color: #fff;
      font-size: 18px;
      &:first-child {
        background-color: #f16b52;
      }
      &:last-child {
        background-color: #2c4064;
      }
      &:hover {
        z-index: auto;
        text-decoration: underline;
      }
    }
  }
}
/* Header menu section */
.navbar {
  width: 100%;
  padding: 7px 0;
  background-color: #2a254c;
  text-align: center;
  ul {
    margin: 0 auto;
    li {
      a {
        color: #fff;
        margin: 0 15px;
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 18px;
        transition: 0.2s ease-in;
        &:hover,
        &:active {
          background-color: #ffe3c1;
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}

/* Media query for menu responsive */
@media(min-width: 992px) and (max-width: 1280px) {
  .navbar {
    ul {
      li {
        a {
          margin: 0 5px;
          padding: 5px 10px;
          font-size: 12px;
        }
      }
    }
  }
}
@media(min-width: 1281px) and (max-width: 1600px) {
  .navbar {
    ul {
      li {
        a {
          margin: 0 10px;
          padding: 5px 13px;
          font-size: 14px;
        }
      }
    }
  }
}
