<footer>
  <div class="container-fluid">
    <ul class="row">
      <li class="col-sm-4 col-md-2">
         <h3>Number Success</h3>
        <ul>
          <li><a>Addition</a></li>
          <li><a>Subtraction</a></li>
          <li><a>Multiplication</a></li>
          <li><a>Division</a></li>
          <li><a>Decimal &amp; Percents</a></li>
          <li><a>Calculator Achievement</a></li>
          <li><a>Life Skill Math Power</a></li>
          <li><a>Algebra 1</a></li>
          <li><a>Algebra 2</a></li>
          <li><a>Geometry</a></li>
          <li><a>Trigonometry</a></li>
        </ul>
      </li>
      <li class="col-sm-4 col-md-2">
        <h3>Phonics Adventure</h3>
        <ul>
          <li><a>Foundational Principles for Phonics Adventure</a></li>
          <li><a>Alphabet Songs and Videos</a></li>
          <li><a>Level 1</a></li>
          <li><a>Level 2</a></li>
          <li><a>Level 3</a></li>
          <li><a>Level 4</a></li>
          <li><a>Level 5</a></li>
          <li><a>Level 6</a></li>
        </ul>
      </li>
      <li class="col-sm-4 col-md-3">
        <h3>Writing Success</h3>
        <ul>
          <li><a>Manuscript Writing</a></li>
          <li><a>Cursive writing</a></li>
          <li><a>Blending Letters &amp; Sounds</a></li>
          <li><a>Writing Tips &amp; Lessons</a></li>
          <li><a>Writing Sentences</a></li>
        </ul>
        <div class="social-icons">
          <span>Connect with Us</span>
          <a class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a class="twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
          <a class="gplus" title="Google Plus"><i class="fa fa-google-plus"></i></a>
        </div>
      </li>
      <li class="col-sm-6 col-md-2">
        <h3>Reading Success</h3>
        <ul>
          <li><a>Level 1</a></li>
          <li><a>Level 2</a></li>
          <li><a>Level 3</a></li>
          <li><a>Level 4</a></li>
          <li><a>Level 5</a></li>
          <li><a>Level 6</a></li>
        </ul>
      </li>
      <li class="col-sm-6 col-md-2">
        <h3>Quick Links</h3>
        <ul>
          <li><a>Sommer-Time Stories Home</a></li>
          <li><a>Video &amp; Song Library Home</a></li>
          <li><a>E-Book Library Home</a></li>
          <li><a>About Us</a></li>
          <li><a>Awards</a></li>
          <li><a>Testimonials</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="bottom">
    <strong>&copy; 2018 Sommer Learning Group. All rights Reserved.</strong>
  </div>
</footer>
