footer {
  padding: 5px 0 0;
  background: url(../../assets/images/footer-bg.png) repeat;
  background-position: 0 0;
 ul {
    list-style: none;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    li {
      h3 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        color: #595a5a;
        text-transform: capitalize;
        font-weight: 600;
      }
      a {
        font-size: 15px;
        color: #595a5a;
      }
      .social-icons {
        padding: 30px 0 10px;
        > span {
          display: block;
          margin-bottom: 10px;
          font-size: 18px;
          color: #595a5a;
          font-weight: 600;
        }
        a {
          display: inline-block;
          vertical-align: middle;
          width: 34px;
          height: 34px;
          margin: 0 10px;
          padding: 0;
          line-height: 34px;
          text-align: center;
          font-size: 16px;
          color: #fff;
          transition: all 0.7s ease;
          cursor: pointer;
          &.facebook {
            background-color: #3b5999;
            &:hover {
              background-color: #234180;
            }
          }
          &.twitter {
            background-color: #6db9e7;
            &:hover {
              background-color: #56a1ce;
            }
          }
          &.gplus {
            background-color: #f05241;
            &:hover {
              background-color: #f05241;
            }
          }
        }
      }
    }
    ul {
      padding: 0;
    }
  }

  .bottom {
    padding: 22px 0;
    color: #fff;
    text-align: center;
    background: url(../../assets/images/footer-bg2.png) no-repeat;
    background-position: 0 0;
    background-size: cover;
    strong {
      font-weight: normal;
      line-height: 34px;
    }
  }
}

