.carouselframe{
    text-align: center;
}

.frame{
    width: calc(100% - 130px);
    padding: 0px 70px;
    height: 282px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 30px;
    border: 1px solid #2ab8e7 !important;
    text-align: center;
    background: #f2f2f2;
  .prevBtn{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    text-indent: -9999px;
    background: transparent;
    border: none;
    width: 45px;
    overflow: hidden;
    outline: none;
    color: #2ab8e7;
    height: 45px;
    cursor: pointer;
    z-index: 999;
    border: 1px solid #ddd;
    border-radius: 50%;
    &:before{
      content:"<";
      display: inline-block;
      text-indent: 9999px;
      font-size: 35px;
      line-height: 35px;
    }
  }
  .nextBtn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999px;
    background: transparent;
    border: none;
    width: 45px;
    overflow: hidden;
    color: #2ab8e7;
    outline: none;
    height: 45px;
    cursor: pointer;
    z-index: 999;
    border: 1px solid #ddd;
    border-radius: 50%;
    &:before{
      content: ">";
      display: inline-block;
      text-indent: 9999px;
      font-size: 35px;
      line-height: 35px;
    }
  }
  .sliderContainer{
    position: relative;
    height: 280px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    ul{
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      font-size: 50px;
      padding-left: 0px;
      li{
        float: left;
        width: 18%;
        height: 100%;
        margin: 0;
        padding: 0px;
        color: #ddd;
        text-align: center;
        cursor: pointer;
        img{
          width: auto;
          height: 100%;
          padding: 10px;
        }
      }
    }
  }
}


app-draggingslide {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  & > div{
    margin: auto;
    width: 90%;
  }
}
