.list-page{
	ul{padding:0px 7%;

li{    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
.media{
	.list-left-item{
	    border: 1px solid #ccc;
    margin: 0 25px;
    padding: 20px;
    transition: 0.3s ease-in;width:300px;height:214px;
img{
max-width:100%;
}
	
}
	.media-body{
	.btn-circle{width:60px;height:60px;border-radius:50%;margin-right:10px;
		i{font-size:1.3em;}
	}
}

}


    }
	}

	}






/* Portrait */
@media only screen and (max-width: 768px) 
 {
.list-page ul li .media .list-left-item{
    border: 1px solid #ccc;
    margin: 0 25px;
    padding: 15px;
    transition: 0.3s ease-in;
    width: 200px;
    height: 145px;
}
}
@media only screen and (max-width: 414px) 
 {
 .media{flex-wrap:wrap;}
.list-page ul li .media .list-left-item{
    border: 1px solid #ccc;
    margin: 0 25px;
    padding: 15px;
    transition: 0.3s ease-in;
      width: 300px;
    height: auto;
    margin: 0px auto 15px;
}
}