<div class="list-page">
	
		<div></div>
		<ul>
			
			
			<li>
				<div class="media">
					<div class="list-left-item">
						  <img class="align-self-start" src="https://www.advancepublishing-dev.com/ecommerce/pub/media/catalog/product/cache/1/small_image/300x350/e9c3970ab036de70892d86c6d221abfe/a/_/a_great_hit.jpg" alt="Generic placeholder image">
					</div>

  <div class="media-body">
    <h4 class="mt-0">Book Title</h4>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  <div>
  	<button type="button" class="btn btn-primary btn-circle">EN</button>
<button type="button" class="btn btn-secondary btn-circle"><i class="fa fa-book" aria-hidden="true"></i></button>
  </div>
  </div>
</div>
			</li>
		</ul>

</div>