/* breadcrumb */
.breadcrumb {
  margin: 0 0 20px;
  padding: 0;
  background: none;
  font-size: 0.95em;
  li {
    &:after {
      content: "\f105";
      font-family: FontAwesome;
      display: inline-block;
      padding:0 5px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}