<div class="login-wrap">
  <button type="button" class="close"> </button>
  <div class="modal-body">
    <div class="login-left">
      <div class="md-toolbar-tools">
        <label class="learninggrp-logo"></label>
        <h2>Have Fun Learning</h2>
        <span>Join Today</span>
      </div>
    </div>
    <div class="login-right">
      <div class="loginShow">
        <ul class="login-social-icons">
          <li><button><i class="fb-icon"></i></button></li>
          <li><button><i class="gplus-icon"></i></button></li>
        </ul>
      </div>
      <form>
        <div class="or"> or </div>
        <div class="user-login">
          <div class="form-group">
            <input type="text" class="form-control" id="username" required>
            <label for="username">User name / Email</label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="pswd">
            <label for="pswd" class="label">Password</label>
            <a href="javascript:void(0);"> <i class="fa fa-eye-slash"></i> </a>
          </div>
          <div class="clearfix"> <a href="#" class="pw-text">Oops! Forgot my password?</a> </div>
          <div class="text-right"> <button type="submit" class="btn btn-primary">Login</button> </div>
        </div>
      </form>
      <div class="login-bottom">
        <p>Don't have an account? <a class="sign-inlink" href="javascript:void(0);">JOIN NOW</a> </p>
      </div>
    </div>
  </div>
</div>
