.login-wrap {
  width: 970px;
  min-height: 564px;
  overflow: visible;
  padding: 25px;
  max-height: inherit;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  background: #77d5ef;
  font-family: Montserrat;
  background: -moz-linear-gradient(top, #77d5ef 0%, #97e0f3 50%, #c4eff8 100%);
  background: -webkit-linear-gradient(top, #77d5ef 0%, #97e0f3 50%, #c4eff8 100%);
  background: linear-gradient(to bottom, #77d5ef 0%, #97e0f3 50%, #c4eff8 100%);
  &:after {
    position: absolute;
    bottom: -2px;
    left: -1px;
    right: -1px;
    content: "";
    background: url(https://spiglobaltestingbucket.s3.amazonaws.com/PrimeMedia/images/grass-bg-login.png) no-repeat top center;
    background-size: 100%;
    height: 104px;
    border-radius: 0 0 10px 10px;
  }
  button.close {
    display: block;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 34px;
    height: 34px;
    min-height: 20px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    background: #d44331;
    border-radius: 10px;
    color: #fff;
    opacity: 1;
    z-index: 5;
    outline: 0;
    &:hover, &:focus {
      background: #444 !important;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin: -6px auto 0;
      font-size: 10px;
      top: 50%;
      background: url(https://spiglobaltestingbucket.s3.amazonaws.com/PrimeMedia/images/cross-symbol.png) no-repeat;
      background-size: 100%;
      width: 12px;
      height: 12px;
    }
  }
}

.login-left {
  display: block;
  float: left;
  width: 48.5%;
  background: none;
  margin-top: 90px;
  height: auto;
  text-align: center;
  .learninggrp-logo {
    display: block;
    width: 100px;
    height: 81px;
    background: url(https://spiglobaltestingbucket.s3.amazonaws.com/PrimeMedia/images/learning_group_popup.png) no-repeat;
    margin: 0 auto 36px;
    clear: both;
  }
  h2 {
    color: #db3c70 !important;
    font-size: 40px;
    font-weight: normal;
    font-family: "Chocolate Bar Demo";
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  span {
    font-size: 44px;
    font-family: "mf-sippin-on-sunshine";
    font-weight: normal;
    color: #175a6d;
  }
}
.login-right {
  position: relative;
  float: left;
  width: 51.5%;
  background: #fff;
  border-radius: 6px;
  z-index: 1;
  overflow: inherit;
  top: 0;
  .loginShow {
    padding: 30px 25px 0;
  }
  .login-social-icons {
    margin: 0;
    padding: 0px 0 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 0px;
      margin: 0;
      width: 100%;
      text-align: center;
      button {
        display: block;
        cursor: pointer;
        border: 0;
        outline: 0;
        background: none;
        margin: 0 auto;
        i {
          width: 324px;
          height: 44px;
          display: block;
          &.fb-icon {
            display: block;
            background: url(https://spiglobaltestingbucket.s3.amazonaws.com/PrimeMedia/images/fbIcontxt.png) no-repeat center center;
          }
          &.gplus-icon {
            background: url(https://spiglobaltestingbucket.s3.amazonaws.com/PrimeMedia/images/gpIcontxt.png) no-repeat center center;
          }
        }
      }
    }
  }
  .or {
    position: relative;
    display: block;
    margin: 20px 0 25px;
    color: #E04462;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      top: 57%;
      left: 27%;
      width: 19%;
      border-bottom: 1px solid #f9a79f;
    }
    &:after {
      border-bottom: 1px solid #f9a79f;
      content: "";
      left: auto;
      right: 27%;
      position: absolute;
      top: 57%;
      width: 19%;
    }
  }
  .user-login, .signup-form {
    margin: 0 auto;
    max-width: 82%;
    .form-group {
      position: relative;
      margin-bottom: 1.7rem;
      label{
        margin-bottom: 0px;
        color: #B4B4B4;
        font-size: 14px;
        position: absolute;
        top: 9px;
        left: 12px;
        transition: 0.5s ease-in-out;
        &:after {
          content: ' *';
          font-size: 13px;
          vertical-align: top;
        }
      }
      .form-control {
        height: 40px;
        line-height: 38px;
        font-size: 14px;
        padding: 2px 15px;
        padding-right: 35px;
        cursor: text;
        color: #B4B4B4;
        border-color: #C0EBF6;
        &:hover, &:focus {
          box-shadow: none;
        }
      }
      .form-control:focus + label {
        top: -15px;
        font-size: 10px;
      }
      .fa-eye-slash {
        position: absolute;
        right: 10px;
        top: 0;
        margin-top: 11px;
        color:#337ab7;
      }
    }
    .pw-text {
      color: #eab1ac;
      font-size: 14px;
      float: right;
      margin-bottom: 20px;
    }
    .btn-primary {
      background: #41cdf1 !important;
      padding: 7px 35px;
      border-radius: 5px;
      border:0;
      margin: 12px 0;
      &:hover, &:focus {
        background-color: #d82013 !important;
        box-shadow: none;
      }
    }
    .nameCls {
      display: inline-block;
      width: 100%;
      padding: 0;
      .first-name, .last-name {
        float: left;
        width: calc(50% - 4px);
      }
      .first-name{
        margin-right: 4px;
      }
      .last-name {
        margin-left: 4px;
        position: relative;
      }
    }
    .dob {
      display: inline-block;
      width: 100%;
      .month, .day, .year {
        float: left;
        width: calc(32%);
      }
      .month, .day {
        margin-right: 6px;
      }
    }
  }
  .login-bottom {
    color: #a9a9a9;
    letter-spacing: 1.5px;
    text-align: center;
    border-top: 1px solid rgba(238, 238, 238, 0.68);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    P {
      margin-top: 10px;
      font-size: 16px;
      color: #999;
    }
    .sign-inlink {
      color: #50c7e8;
    }
  }
  .right-wrap {
    .pswdStrength {
      list-style: none;
      padding: 0;
      vertical-align: 2px;
      display: block;
      margin: 10px 0 18px 0;
    }
    .point {
      background: #DDD;
      border-radius: 2px;
      display: inline-block;
      height: 5px;
      margin-right: 4px;
      width: 47px;
    }
    .parent-signup, .student-signup {
      padding-top: 10px;
      .or {
        margin: 10px 0 15px;
      }
    }
    .student-signup {
      .signup-form {
        max-width: 100%;
      }
    }
    .student-login-wrap{
      padding: 160px 46px 50px;
      min-height: 415px;
      display: block;
      &.activemain {
        padding: 50px 46px 0;
      }
      &.activemain1 {
        padding: 18px 46px 0;
      }
      .content {
        margin-top: 40px;
        text-align: left;
        p {
          font-size: 13px;
          color: #3cdbbf;
        }
        .signup-form {
          max-width: 100%;
          .form-group {
            margin-bottom: 100px;
          }
        }
      }
      .student-age {
        .student-login {
          border: 0;
          display: inline-block;
          background: url(https://spiglobaltestingbucket.s3.amazonaws.com/PrimeMedia/images/agebg.png) no-repeat;
          color: #3cdbbf;
          width: 174px;
          height: 68px;
          cursor: pointer;
          text-align: center;
          outline: 0;
          &.aboveage {
            margin-left: 4px;
            width: 176px;
            background-position: 0 -165px;
            &.active {
              background-position: 0 -259px;
            }
          }
          &.belowage {
            margin-right: 6px;
          }
          &.active {
            background-position: 0 -74px;
            p { color: #fff; }
          }
          p {
            font-size: 13px !important;
            color: #3cdbbf;
            line-height: 20px;
            &:first-of-type {
              font-size: 16px !important;
              font-weight: 600;
              margin: 12px 0 0;
            }
          }
        }
      }
    }
  }
  .forgotpw-wrap {
    width: 100%;
    padding: 35% 25px 35.5%;
    h2 {
      margin: 0 0 25px;
      color: #4295ad;
      font-weight: 500;
      font-size: 23px;
      text-align: center;
    }
    .user-login {
      max-width: 100%;
    }
  }
}
.letsstared-wrap {
  padding-top: 25px;
  .letsstared {
    text-align: center;
    margin-bottom: 60px;
    h3 {
      margin: 0 0 25px;
      color: #4295ad;
      font-weight: 600;
      font-size: 23px;
    }
    span {
      color: #8699ac;
      font-size: 16px;
      display: inline-block;
      margin-bottom: 40px;
    }
    .loguser-type {
      margin: 0 0 25px;
      p {
        color: #50c7e8;
        font-size: 16px;
        line-height: 54px;
        font-weight: bold;
        margin: 0;
        outline: 0;
        cursor: pointer;
        display: inline-block;
        background: url(https://spiglobaltestingbucket.s3.amazonaws.com/PrimeMedia/images/loguser-bg.png) no-repeat;
        width: 228px;
        height: 54px;
        &:hover {
          background-position: 0 -79px;
          color: #fff;
        }
      }
      &.type2 {
        p {
          background-position: 0 -159px;
          &:hover {
            background-position: 0 -233px;
          }
        }
      }
      &.type3 {
        p {
          background-position: 0 -309px;
          &:hover {
            background-position: 0 -387px;
          }
        }
      }
    }
  }
}
.hide {
  display: none !important;
}
.login-scroll {
  border-radius: 6px;
  height: 507px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #b5b5b5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #838383;
  }
}

@media (max-width: 1023px) {
  .login-wrap {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100% !important;
    min-height: 100%;
    padding: 200px 0 20px;
    border-radius: 0;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    transform: none !important;
    z-index: 100;
    .login-left {
      float: none;
      display: block;
      width: 100%;
      margin: 0 auto 25px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: #7cd7ef !important;
      min-height: 200px;
      z-index: 1;
      .learninggrp-logo {
        margin: 20px auto 10px;
        width: 75px;
        background-size: 100%;
        height: 65px;
      }
    }
  }
}
