<div class="login-wrap">
  <button type="button" class="close"> </button>
  <div class="modal-body">
    <div class="login-left">
      <div class="md-toolbar-tools">
        <label class="learninggrp-logo"></label>
        <h2>Have Fun Learning</h2>
        <span>Join Today</span>
      </div>
    </div>
    <div class="login-right">
      <form>

        <div class="login">
          <div class="loginShow">
            <ul class="login-social-icons">
              <li><button><i class="fb-icon"></i></button></li>
              <li><button><i class="gplus-icon"></i></button></li>
            </ul>
          </div>
          <div class="or"> or </div>
          <div class="user-login">
            <div class="form-group">
              <input type="text" class="form-control" id="username">
              <label for="username">User name / Email</label>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="pswd">
              <label for="pswd" class="label">Password</label>
              <a href="javascript:void(0);"> <i class="fa fa-eye-slash"></i> </a>
            </div>
            <div class="clearfix"> <a href="#" class="pw-text">Oops! Forgot my password?</a> </div>
            <div class="text-right"> <button type="submit" class="btn btn-primary">Login</button> </div>
          </div>
          <div class="login-bottom">
            <p>Don't have an account? <a class="sign-inlink" href="javascript:void(0);">JOIN NOW</a> </p>
          </div>
        </div>

        <div class="right-wrap">

          <div class="letsstared-wrap hide">
            <div class="letsstared">
              <h3>Let's Get Started</h3>
              <span>Sign up to get Progress, Media, Reports <br>and access to Premium content</span>
              <div class="loguser-type type1"><p>Student</p></div>
              <div class="loguser-type type2"><p>Teacher</p></div>
              <div class="loguser-type type3"><p>Parent</p></div>
            </div>
            <div class="login-bottom">
              <p>Already have an account? <a class="sign-inlink" href="javascript:void(0);">LOGIN</a> </p>
            </div>
          </div>

          <div class="parent-signup login-scroll hide">
            <ul class="login-social-icons">
              <li><button><i class="fb-icon"></i></button></li>
              <li><button><i class="gplus-icon"></i></button></li>
            </ul>
            <div class="or"> or </div>
            <form class="signup-form">
              <div class="">
                <div class="form-group">
                  <input type="email" class="form-control" id="email">
                  <label for="email">Email</label>
                </div>
                <div class="form-group nameCls">
                  <div class="first-name">
                    <input type="text" class="form-control" id="first-name">
                    <label for="first-name">First name</label>
                  </div>
                  <div class="last-name">
                    <input type="text" class="form-control" id="last-name">
                    <label for="last-name">Last name</label>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="username">
                  <label for="username">User Name</label>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="pwsd">
                  <label for="pwsd">Password</label>
                  <a href="javascript:void(0);" title="Show password"><i class="fa fa-eye-slash"></i></a>
                  <ul class="pswdStrength">
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                  </ul>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="confirm-pwsd">
                  <label for="confirm-pwsd">Confirm Password</label>
                  <a href="javascript:void(0);" title="Show password"><i class="fa fa-eye-slash"></i></a>
                </div>
                <div class="text-right"> <button type="submit" class="btn btn-primary"> Sign up</button> </div>
              </div>
            </form>
          </div>

          <div class="student-login-wrap hide">
            <div class="student-age">
              <div class="student-login belowage">
                <p>I am Kid</p>
                <p>My age is below 13</p>
              </div>
              <div class="student-login aboveage">
                <p>I am Teen</p>
                <p>My age is above 13</p>
              </div>
            </div>
          </div>

          <div class="student-login-wrap activemain hide">
            <div class="student-age">
              <div class="student-login belowage active">
                <p>I am Kid</p>
                <p>My age is below 13</p>
              </div>
              <div class="student-login aboveage">
                <p>I am Teen</p>
                <p>My age is above 13</p>
              </div>
            </div>
            <div class="content">
              <p>You're under 13.We would request you to add your parent email, so that they can create account for you</p>
              <form class="signup-form">
                <div class="form-group">
                  <input type="email" class="form-control" id="parent-email">
                  <label for="parent-email">Parent / Guardian email</label>
                </div>
                <div class="text-right"> <button type="submit" class="btn btn-primary"> Sign Up</button> </div>
              </form>
            </div>
          </div>

          <div class="student-login-wrap activemain1 login-scroll hide">
            <div class="student-age">
              <div class="student-login belowage">
                <p>I am Kid</p>
                <p>My age is below 13</p>
              </div>
              <div class="student-login aboveage active">
                <p>I am Teen</p>
                <p>My age is above 13</p>
              </div>
            </div>
            <div class="student-signup">
              <ul class="login-social-icons">
                <li><button><i class="fb-icon"></i></button></li>
                <li><button><i class="gplus-icon"></i></button></li>
              </ul>
              <div class="or"> or </div>
              <form class="signup-form">
                <div class="">
                  <div class="form-group">
                    <input type="email" class="form-control" id="email">
                    <label for="email">Email</label>
                  </div>
                  <div class="form-group nameCls">
                    <div class="first-name">
                      <input type="text" class="form-control" id="first-name">
                      <label for="first-name">First name</label>
                    </div>
                    <div class="last-name">
                      <input type="text" class="form-control" id="last-name">
                      <label for="last-name">Last name</label>
                    </div>
                  </div>
                  <div class="form-group dob">
                    <div class="month">
                      <select class="form-control">
                        <option>Month</option>
                        <option>January</option>
                      </select>
                    </div>
                    <div class="day">
                      <select class="form-control">
                        <option>Day</option>
                        <option>1</option>
                      </select>
                    </div>
                    <div class="year">
                      <select class="form-control">
                        <option>Year</option>
                        <option>2018</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="username">
                    <label for="username">User Name</label>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwsd">
                    <label for="pwsd">Password</label>
                    <a href="javascript:void(0);" title="Show password"><i class="fa fa-eye-slash"></i></a>
                    <ul class="pswdStrength">
                      <li class="point"></li>
                      <li class="point"></li>
                      <li class="point"></li>
                      <li class="point"></li>
                      <li class="point"></li>
                    </ul>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="confirm-pwsd">
                    <label for="confirm-pwsd">Confirm Password</label>
                    <a href="javascript:void(0);" title="Show password"><i class="fa fa-eye-slash"></i></a>
                  </div>
                  <div class="text-right"> <button type="submit" class="btn btn-primary"> Sign up</button> </div>
                </div>
              </form>
            </div>
          </div>

          <div class="forgotpw-wrap hide">
            <form class="user-login">
              <h2>Forgot password</h2>
              <div class="form-group">
                <input type="text" class="form-control" id="email1">
                <label for="email1">Email</label>
              </div>
              <div class="clearfix">
                <button type="submit" class="btn btn-primary"> Back </button>
                <button type="submit" class="btn btn-primary pull-right"> Submit </button>
              </div>
            </form>
          </div>

          <div class="login-bottom hide">
            <p>Already have an account? <a class="sign-inlink" href="javascript:void(0);">LOGIN</a> </p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
