<script src="../../../../../sommer_learning/publicsite/pa/PA_UI/karma-config.js"></script>
<section class="main-wrapper">
  <app-breadcrumb></app-breadcrumb>
  <ngb-tabset class="collection-tabs">
    <ngb-tab title="Favorites">
      <ng-template ngbTabContent>
        <app-draggingslide [shareData]="carousel" class="mycolletions"></app-draggingslide>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="My Collections">
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Recent Products">
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</section>



