<section class="main-wrapper">
  <app-breadcrumb></app-breadcrumb>
  <ngb-tabset>
    <ngb-tab title="Favorites">
      <ng-template ngbTabContent>
        <app-draggingslide [shareData]="carousel" class="mycolletions"></app-draggingslide>
        <p>favorites section</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="My Collections">
      <ng-template ngbTabContent>
        <p>My collections section</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Recent Products">
      <ng-template ngbTabContent>
        <p>Recent product section</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</section>

