/* You can add global styles to this file, and also import other style files */
/** Adding myriad-pro font as global font **/
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("assets/fonts/MyriadPro-Regular.eot");
  src: url("assets/fonts/MyriadPro-Regular.woff2") format("woff2"), url("assets/fonts/MyriadPro-Regular.woff") format("woff"), url("assets/fonts/MyriadPro-Regular.ttf") format("truetype"), url("assets/fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg"), url("assets/fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url("assets/fonts/MyriadPro-Bold.eot");
  src: url("assets/fonts/MyriadPro-Bold.woff2") format("woff2"), url("assets/fonts/MyriadPro-Bold.woff") format("woff"), url("assets/fonts/MyriadPro-Bold.ttf") format("truetype"), url("assets/fonts/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg"), url("assets/fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyriadPro-Regular',Arial!important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-wrapper {
  padding: 20px 6%;
}
.ngxcarousel{
    .ngxcarousel-inner{
        width: 90%;
        margin: auto;
      }
}
/*mycollections */
.mycolletions {
  float: right;
  text-align: right;
  button {
    background: none;
    border: 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    .fa-pencil, .fa-floppy-o {
      font-size: 24px;
    }
    &.editsaveBtn {
      position: absolute;
      top: 18px;
      right: 18px;
      z-index: 9999;
    }
    &.close-icon {
      background: none;
      border: 0;
      padding: 0;
      font-size: 2em;
      position: absolute;
      top: -19px;
      right: -11px;
      left: auto;
    }
  }
}
.collection-tabs {
  .nav-tabs {
    border-bottom: 1px solid #2a254c;
    margin-bottom: 25px;
    .nav-item {
      margin-bottom: 0px;
      margin-right: -2px;
      .nav-link {
        padding: 0.3rem 3rem;
        border-radius: 0;
        font-size: 20px;
        border: 2px solid #2a254c;
        color: #2a254c;
        &.active {
          background-color: #2a254c;
          color: #fff !important;
        }
      }
    }
  }
}

.checkVals ul{
    list-style-type: none;
}
.checkVals ul li{
    float: left;
    width: 33.33%;
}
.modal-body{
    display: inline-block;
    width: 100%;
}
.modal-dialog{
    width: 45%!important;
    max-width: 45%!important;
}
