<section class="container-fluid">
  <div class="newhome-section">
  <ul class="program-list" *ngIf="contentData">
    <li  *ngFor="let cnt of contentData.mediaType">
      <div class="homenew-list">
        <div class="newhome-image">
          <img [src]="'../../assets/images/'+cnt.img+'.png'" [srcset]="'../../assets/images/'+cnt.img+'2x.png 2x'">
          <div class="img-info">
            <h3>Sommer-Time Stories</h3>
           <ul class="book-info">
              <li>All pages</li>
              <li>42 Award-winning</li>
              <li>Sommer Time Stories</li>
            </ul>
            <div class="see-all-wrap"><a title="See All" class="new-seelink" [routerLink]="['/productlist']" >See All</a></div>
            <div class="see-all-wrap"><a id="a_se_allbtn{{$index+1}}" title="See All" class="new-seelink" [routerLink]="['/productlist']" [queryParams]="{ id: 0 ,data:data}" >See All</a></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  </div>
</section>
